@import url(https://fonts.googleapis.com/css?family=Englebert);

#slogan{
	font-family:font'Englebert', sans-serif;
	font-weight:bold;
	color:blue;
	font-size:22pt;
	font-style: italic;}

body {
  	text-align: center;
  background-size:cover;
  background: red
  font-family: Helvetica;
  color:white;
}


#croc{
	width: 200px
}
#jackson{
	font-family: Helvetica;
	font-weight:bold;
	color:#ccff66;
	font-size:28pt;
}

hr {
	width:400px;
	height:3px;
}

h1, p {
    color:green;
    font-family:font'Englebert', sans-serif;
}