@import url(https://fonts.googleapis.com/css?family=Englebert);

body {
  	text-align: center;
  background-size:cover;
  background-image:url("images/antis.jpg");
  font-family: Helvetica;
  color:white;
}
#slogan{
	font-family:font'Englebert', sans-serif;
	font-weight:bold;
	color:white;
	font-size:22pt;
	font-style: italic;
}
#croc{
	width: 200px
}
#jackson{
	font-family: 'Orienta', Helvetica;
	font-weight:bold;
	color:#ccff66;
	font-size:28pt;
}

hr {
	width:400px;
	height:3px;
}

h1, p {
    color:green;
}