body {
  	text-align: center;
  background-size:cover;
  background:images/antis.jpg;
  font-family: Helvetica;
  color:white;
}
#slogan{
	font-weight:bold;
	color:white;
	font-size:22pt;
	font-style: italic;
}
#croc{
	width: 200px
}
#jackson{
	font-weight:bold;
	color:#ccff66;
	font-size:28pt;
}

hr {
	width:400px;
	height:3px;
}

h1, p {
    color:green;
}